@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Noto+Sans+KR:wght@100..900&display=swap');

*{
margin:0px;
padding:0px;
}

html{
font-size:10px;
scroll-behavior:smooth;
}

body {
    background-color: black;
    padding-top: 80px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

nav{
display:flex;
justify-content:center;
align-items:center;
}

#myMenu{
display:flex;
width:600px;
height:80px;
background-color:black;
justify-content:space-around;
align-items:center;
list-style:none;

}

#myMenu li{
font-size:1.8rem;
color:darkgrey;
user-select:none;
transition:color 0.3s, font-size 0.3s;
cursor:pointer;
}

#myMenu li:hover{color:beige;}


main{
position:relative;
width:100%;
height:100vh;
overflow:hidden;
background-color:black;
margin:0px auto;
display:flex;
align-items:center;
justify-content:center;
}

.floatImg{
    position: absolute;
    z-index: 5;
    pointer-events: none;
    filter: brightness(60%);
    /*원형 png인 경우에 네모낳게 그림자가 생겨서..
    그림자가 있는게 더 이쁘긴한데 고민해봐야할것같어*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.title{
position:relative;
transform:translateY(-30%);
z-index:10;
}

#mainContainer{
width:1440px;
margin:0px auto;
border-right:4px solid beige;
position:relative;
z-index:1;
}

section{
position:relative;
z-index:1;
background-image:linear-gradient(to bottom, 
black 0%, 
#333 10%, 
beige 50%); 
background-repeat:no-repeat;
}

section .col6{height:100%;}

.dotLine{
display:flex;
align-items:center;
justify-content:flex-end;
gap:2rem;
position:relative;
z-index:2;
}

.dotLine::after{
content:"";
flex-grow:1;
border-bottom:2px dotted beige;
opacity:0.6;
}

.row{
width:100%;
display:flex;
}


.col6{width: 100%; margin: 1rem; text-align: center;}
.col5{width: 83.33%; margin: 1rem;}
.col4{width: 66.66%; margin: 1rem;}
.col3{width: 50%; margin: 1rem;}
.col2{width: 33.33%; margin: 1rem;}
.col1{width: 16.67%; margin: 1rem;}

.h50{height:50px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h300{height:300px;}
.h350{height:350px;}

.textBold{
font-family:"Cinzel Decorative", serif;
font-weight:900;
font-style:normal;
}

.textKr{
font-family:"Noto Sans KR", sans-serif;
font-optical-sizing:auto;
font-weight:300;
font-style:normal;
}

.textTitle{font-size:8rem;}
.textSub{font-size:3rem;}
.text{font-size:1.6rem;}

.bold{font-weight:bold;}

.textBl{color:black;}
.textBe{color:beige;}

.center{text-align:center;}
.right{text-align:right;}
.end{
display:grid;
align-content:end;
height:100%;
}

img{
width:100%;
height:auto;
object-fit:contain;
}

footer{
width:1440px;
margin:0px auto;
padding:0;
background-color:black;
}


